@media screen and (min-width: 600px) {
	.nav.open {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
		}
	.nav {
		display: inline-flex;
	}
	.header__menu {
		display: none;
	}
	.content {
		display: flex;
		flex-wrap: wrap;
	}
	.top-news section.scores {
		width: 50%;
	}
	
}

